################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pick One/Pick One/bin/Windows/x86/Debug
/Pick One/Pick One/Content/bin/Windows
/Pick One/Pick One/Content/obj/Windows
/Pick One/Pick One/obj/x86/Debug
/Pick One/Pick One/Pick One.csproj.user
*.suo
/Pick One/Pick One/bin/Windows/x86/Release
/Pick One/Pick One/obj/x86/Release
