################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pick One/Pick One/bin/Windows/x86/Debug
